<%- include('partials/homeheader') %>
<div class="desktop-1">
    <div class="desktop-1-child"></div>
    <main class="desktop-1-item"></main>
    <img class="wave-1-1" alt="" src="./images/wave-1-1.svg" /><img
      class="wave-1-icon"
      alt=""
      src="./images/wave-1.svg"
    />
    <nav class="desktop-1-inner"></nav>
    <header class="rectangle-header"></header>
    <h3 class="online-test">Online Test</h3>
    <h1 class="online-test-system">ONLINE TEST SYSTEM</h1>
    <button class="rectangle-button"></button
    ><a href="/loginAs"><button class="log-in">Log in / Sign Up</button
    ></a><img
      class="bgimage-1-icon"
      alt=""
      src="./images/bgimage-1@2x.png"
    /><button class="home">Home</button
    ><button class="teachers">Teachers</button
    ><button class="classes">Classes</button
    ><button class="about-us">About Us</button
    ><button class="contact">Contact</button
    ><strong class="online-education">Online Education</strong
    ><button class="desktop-1-child1"></button
    ><button class="get-started">Get Started</button
    ><img class="vector-icon" alt="" src="./images/vector-7.svg" /><img
      class="image-1-icon"
      alt=""
      src="./images/image-1@2x.png"
    />
    <p class="we-aim-to-container">
      <span class="we-aim-to"
        >We aim to provide the most comprehensive tests </span
      ><span class="we-aim-to"
        >for practice which are divided in to various Exams</span
      ><span class="we-aim-to"
        >to help the student focus on their weak areas. Our</span
      ><span class="we-aim-to"
        >mock test gives you analytics to help you realize </span
      ><span class="we-aim-to">your strong areas, time management and </span
      ><span class="we-aim-to">improvement areas.</span>
    </p>
  </div>
  <%- include('partials/footer') %>