<%- include('partials/loginHeader') %>
    <div class="desktop-1">
      <nav class="desktop-1-child"></nav>
      <h1 class="online-test-system">Online Test System</h1>
      <h3 class="login-as-a">Login as a :-</h3>
      <button class="desktop-1-item"></button
      ><button class="desktop-1-inner"></button
      ><a href="t_register"><button class="teacher" >Teacher</button
      ></a><a href="s_register"><button class="student">Student</button
      ></a><img class="wave-1-icon" alt="" src="./wave-1.svg" />
    </div>
  </body>
  <%- include('partials/footer') %>
