<%- include('partials/slheader') %>
<div class="desktop-1">
    <img class="desktop-1-child" alt="" src="./images/rectangle-9.svg" /><img
      class="desktop-1-item"
      alt=""
      src="./images/rectangle-10.svg"
    />
    <main class="desktop-1-inner"></main>
    <img class="rectangle-icon" alt="" src="./images/rectangle-8.svg" /><img
      class="desktop-1-child1"
      alt=""
      src="./images/rectangle-7.svg"
    /><img
      class="desktop-1-child2"
      alt=""
      src="./images/rectangle-6.svg"
    /><img
      class="ellipse-icon"
      alt=""
      src="./images/ellipse-1@2x.png"
    /><strong class="log-in">Log In</strong
    ><div class="formGroup" id="rec-input">
      <form action="/login" method="post">
      <input type="email" id="email" required placeholder="Email Address">
  </div>
  <div class="formGroup" id="rec-input">
      <input type="password" id="password" required placeholder="Password">
  </div></form><input class="rectangle-input" type="text" required /><input
      class="desktop-1-child3"
      type="text"
      required
    /><button class="rectangle-button"></button
    ><img
      class="lock-black-24dp-1-icon"
      id="pass"
      alt=""
      src="./images/lock-black-24dp-1.svg"
    /><button class="log-in1">Log In</button
    ><img
      class="face-modified-1-icon"
      alt=""
      src="./images/facemodified-1.svg"
    />
    <div class="line-div"></div>
    <img
      class="vector-icon"
      id="mail"
      alt=""
      src="./images/vector.svg"
    />
    <img
      class="file-2023-04-15-1234-1-icon"
      alt=""
      src="./images/file-20230415-1234-1.svg"
    />
    <a id="reg" href="s_register">Create an account</a>
    <button class="desktop-1-child4"></button
    ><a href="/auth/google"></a><strong class="log-in-with">Log In with Google</strong
    ><img class="component-1-icon" alt="" src="./images/component-1.svg" />
    <p class="or-connect-with">Or Connect with</p>
  </div>
  <%- include('partials/footer') %>