<%- include('partials/sheader') %>
<div class="desktop-1">
    <img class="desktop-1-child" alt="" src="./images/rectangle-9.svg" /><img
      class="desktop-1-item"
      alt=""
      src="./images/rectangle-10.svg"
    />
    <main class="desktop-1-inner"></main>
    <img class="rectangle-icon" alt="" src="./images/rectangle-8.svg" /><img
      class="desktop-1-child1"
      alt=""
      src="./images/rectangle-7.svg"
    /><img
      class="desktop-1-child2"
      alt=""
      src="./images/rectangle-6.svg"
    /><img
      class="ellipse-icon"
      alt=""
      src="./images/ellipse-1@2x.png"
    /><strong class="sign-up">Sign Up</strong
    ><input class="rectangle-input" type="text" required /><input
      class="desktop-1-child3"
      type="text"
      required
    /><input class="desktop-1-child4" type="text" required /><button
      class="rectangle-button"
    ></button
    ><img
      class="lock-black-24dp-1-icon"
      alt=""
      src="./images/lock-black-24dp-1.svg"
    /><button class="log-in">Log In</button
    >
    <form action="/login" method="post"><div class="formGroup" id="rec-input">
      <input type="text" id="userName" name="username" required placeholder="Username">
  </div>
  <div class="formGroup" id="rec-input">
      <input type="email" id="email" required name="password" placeholder="Email Address">
  </div>
  <div class="formGroup" id="rec-input">
      <input type="password" id="password" required placeholder="Password">
  </div>
  </form>
  <a id="log" href="s_login">already a user?</a>
  <img
      class="face-modified-1-icon"
      alt=""
      src="./images/facemodified-1.svg"
    /><img
      class="email-black-24dp-1-icon"
      alt=""
      src="./images/email-black-24dp-1.svg"
    />
    <div class="line-div"></div>
    <img
      class="person-outline-black-24dp-1-icon"
      alt=""
      src="./images/person-outline-black-24dp-1.svg"
    />
    <div>
    <img
      class="file-2023-04-15-1234-1-icon"
      alt=""
      src="./images/file-20230415-1234-1.svg"
    /><button class="desktop-1-child5"></button
    ><strong class="log-in-with"><a class="btn btn-block btn-social btn-google btn-login" href="/auth/google" role="button">Log In with Google</a>  </strong
    ><img class="component-1-icon" alt="" src="./images/component-1.svg" />
    <p class="or-connect-with">Or Connect with</p>
  </div>
  <%- include('partials/footer') %>