<%- include('partials/theader') %>
<div class="desktop-1">
    <img class="desktop-1-child" alt="" src="./images/polygon-1.svg" /><img
      class="desktop-1-item"
      alt=""
      src="./images/rectangle-1.svg"
    /><img
      class="teacher-removebg-preview-1-icon"
      alt=""
      src="./images/teacherremovebgpreview-1.svg"
    />
    <main class="desktop-1-inner"></main>
    <strong class="sign-up">Sign Up</strong
    ><input class="rectangle-input" type="text" required n/><input
      class="desktop-1-child1"
      type="text"
      required
    /><input class="desktop-1-child2" type="text" required /><button
      class="rectangle-button"
    ></button
    ><button class="desktop-1-child3"></button
    ><img
      class="lock-black-24dp-1-icon"
      alt=""
      src="./images/lock-black-24dp-1.svg"
    /><button class="log-in">Log In</button
    ><img
      class="email-black-24dp-1-icon"
      alt=""
      src="./images/email-black-24dp-1.svg"
    /><img
      class="person-outline-black-24dp-1-icon"
      alt=""
      src="./images/person-outline-black-24dp-1.svg"
    />
    <form action="/login" method="post">
    <div class="formGroup" id="rec-input">
        <input type="text" id="userName" required placeholder="Username">
    </div>
    <div class="formGroup" id="rec-input">
        <input type="email" id="email" required placeholder="Email Address">
    </div>
    <div class="formGroup" id="rec-input">
        <input type="password" id="password" required placeholder="Password">
    </div>
    </form>
    <img class="rectangle-icon" alt="" src="./images/rectangle-8.svg" /><img
      class="desktop-1-child4"
      alt=""
      src="./images/rectangle-7.svg"
    /><img class="desktop-1-child5" alt="" src="./images/rectangle-6.svg" />
    <img class="ellipse-icon" alt="" src="./images/ellipse-1@2x.png" />
    <img
      class="male-removebg-preview-1-icon"
      alt=""
      src="./images/maleremovebgpreview-1.svg"
    />
    <a id="reg" href="t_login">already a user?</a>
    <p class="or-connect-with">Or Connect with</p>
    <p class="log-in-with"><a class="btn btn-block btn-social btn-google btn-login" href="/auth/google" role="button">Log In with Google</a></p>
    <img class="icons8-google-1" alt="" src="./images/icons8google-1.svg" />
  </div>
  <%- include('partials/footer') %>