<%- include('partials/teacherHeader') %>
<div class="desktop-1">
    <img class="component-1-icon" alt="" src="./images/component-1.svg" />
    <main class="desktop-1-child"></main>
    <p class="dont-want-to-container">
      <span class="span"> </span
      ><span class="span">Don't want to build a test from scratch?</span
      ><span class="span">&nbsp;</span
      ><span class="span">Choose one of our ready made test </span
      ><span class="span">&nbsp;</span
      ><span class="span">templates and customize it to match your </span
      ><span class="span">&nbsp;</span
      ><span class="span">classroom with our online test maker for</span
      ><span class="span">&nbsp;</span><span class="span">teachers.</span>
    </p>
    <h1 class="classroom-learning">
      <p class="classroom">Classroom</p>
      <p class="classroom">Learning</p>
    </h1>
    <button class="desktop-1-item"></button
    ><button class="desktop-1-inner"></button
    ><button class="create-test">Create Test</button
    ><button class="video-call">Video call</button
    ><img class="new-1-icon" alt="" src="./images/new-1@2x.png" />
    <h1 class="online-test-system">Online Test System</h1>
    <button class="home">Home</button
    ><button class="about-us">About Us</button
    ><button class="contact-us">Contact Us</button>
  </div>
  <%- include('partials/footer') %>